<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
  <p style="color:rgb(18, 8, 61); font-size:18px">Noticias Sobre el Transporte 📰</p>
 
  <iframe width="110%" height="490" src="https://digesett.gob.do/index.php/noticias" title="Noticias Transporte" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-card-subtitle>Noticias Importantes sobre el Transporte</ion-card-subtitle>
  </ion-card-content>
</ion-content>
