.precios {
    text-align: right;
}
.fondoo{
    background-color: #2291a0!important;
    --background: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-original-light-blue-small-fresh-literary-texture-background-material-image_266861.jpg') 0 0/100% 100% no-repeat;
}
ion-content {
    --padding-top: 10%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('https://wallery.app/dufovot/foggy-road-wallpaper.webp') 0 0/100% 100% no-repeat;
}
 