<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa De Multas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content name="fondoo">
  <div class="row">
    <div class="col-sm-3 hide"></div>
    <div class="login-html" id="animate" style="color: #fff !important;">
      <div class="row">
        <div class="logo-amet">
          <img class="izquierda" id="responsive" width="900%" height="900%" src="assets/mapa.png">
        </div>
        <div class="logo-intrant">
          <img id="img" class="derecha" width="23%" height="24%" src="assets/infra.png"><br>
        </div><br><br>
      </div>
    </div>
  </div>
</ion-content>
