<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Horóscopo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
  <p style="color:rgb(18, 8, 61); font-size:27px">Consulta el horóscopo</p>
 
  <iframe width="111%" height="480" src="https://www.lanacion.com.ar/tema/horoscopo-de-hoy/" title="horóscopo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br> <h2>El horóscopo de hoy gratis</h2>
  </ion-card-content>
</ion-content>
