<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="presentAlert()">Enviar</ion-button>

      </ion-col>
    </ion-row>

    <p  style="color: rgb(153, 194, 241); font-size: 20px">
      Proporcione el nombre de usuario o la dirección de correo electrónico que utiliza para registrase.
    </p>
    <br><br><br>
    <ion-button expand="block" [routerLink]="['/login']" color="light" fill="clear" style=" font-size: 15px">Volver</ion-button>
  </form>
</ion-content>