<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card-content>
  <p style="color: rgb(149, 170, 236); font-size: 40px">Nosotros</p>
  
  <h2 class="subtitle">A la app agentes de tránsito de RD. </h2><br>
  <h2 class="subtitle" style="color:rgb(148, 119, 119)"><strong>Dependiendo de la opción, podrá hacer lo siguiente</strong> </h2><br>
  <ul>
    <li style="color:rgb(152, 235, 170)">
      Tarifario de multas:
      Podrá consultar todos los tipos de multas que existen, asi como su detalle. 
    </li>
    <li>
      Consulta de vehículo por placa:
      Podrá digitar una placa de un vehículo y nos mostrará los detalles del mismo.
    </li>
    <li style="color:rgb(240, 163, 122)">
      Consulta de conductor por licencia:
      Podrá digitar una licencia de conducir y mostrará la foto, nombre, apellido, fecha de nacimiento, dirección y teléfono del conductor
    </li>
    <li>
      Aplicar Multa:
      Podrá registrar una multa de tránsito 
    </li>
    <li style="color:rgb(142, 245, 116)">
      Multas registradas:
      Podrá consultar las multas que ha registrado con la aplicación, En el listado podrá ver código, nombre, motivo. Al hacer click en una multa nos mostrará un detalle con los datos de la multa.
    </li>
    <li>
      Mapa de multas:
      Mostrará un mapa donde aparecerán las multas que ha puesto el agente, al hacer click en una multa nos mostrará un detalle de la misma.

    </li>
    <li style="color:rgb(243, 141, 82)">
      Noticias:
      Nos mostrará noticias importantes para el agente según la digesset
  </li>
  <li>
    Estado del clima (Radar Trafico):
    Enviará la latitud y longitud de la se ubicación y nos mostrará el clima en esa zona.

  </li>
  <li style="color:rgb(235, 245, 101)">
    Horóscopo:
    Mostrará el horóscopo para el amet
  </li>
</ul>
<br>

  <ion-button color="light" expand="block" fill="outline" [routerLink]="['/login']">Inicia sesión y listo</ion-button>
  <br> <br>
</ion-card-content>


</ion-content>
